<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="icon" href="/assets/img/editePaint.png">
    <meta charset="utf-8">
    <title>Mangez-Chez-Vous</title>
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    <header>
        <div id="navbar">
            <div id="logo">
                <a href="/"><img class="img_logo" src="/assets/img/editePaint.png" alt="logo de Mangez-Chez-Vous" /></a>
            </div>
        </div>
    </header>
    <h1>Résultats de la recherche de localisation</h1>
    <%if (locations.length === 0){%>
        <h2>Nous ne livrons toujours pas à votre emplacement.</h2>
        <%} else {%>
            <ul>
                <%locations.forEach( element=> { %>
                    <li>
                        <a class="available_list" href="/location/<%=element.id_mcv_local %>">
                            <span> <%=`Comune: ${element.name_location}, Départment: ${element.departement}, Code Postal: ${element.postal_code} `%>  </span>
                        </a>
                    </li>
                    <%})
        }%>
</body>

</html>